@import "../core/_variables.scss";
.fa-share-nodes {
  color: $pink;
  margin-right: 10px;
}

.submit_button {
  background-color: $font_color_title;
  border-style: none;
  border-radius: 12px;
  text-transform: uppercase;
  font-family: $font_main;
  font-weight: 700;
  color: #fff;
  font-size: 1.8rem;
  height: 50px;
  box-shadow: 0 1px 6px 0 rgba(0, 0, 0, 0.32);
}
.font_success {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.card_create {
  font-family: $font_main;
  font-weight: 700;
  font-size: 1.8rem;
  color: $color_blue;
  line-height: 20px;
}

.create_button {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 30px;
}
.submit_button {
  width: 200px;
}
.font_success {
  display: flex;
  padding-top: 30px;
  padding-bottom: 30px;
  gap: 15px;
  border-bottom: 1px solid $background_border;
  margin-left: 30px;
  margin-right: 30px;
}
.card_link {
  font-family: $font_main;
  font-weight: 700;
  font-size: 1.2rem;
  color: $pink;
  text-decoration: none;
}

.button_twiter {
  font-family: $font_main;
  font-size: 1.4rem;
  color: #fff;
  background-color: #00a0f5;
  text-decoration: none;

  border-radius: 3px;
  padding: 8px 10px;
}

.collapsed {
  display: none;
}

.rotate {
  transform: rotate(180deg);
}
