$background_primary: #f5f5f5;
$background_secondary: #fff;
$background_border: #d8d8d8;
$preview_color_one: #bfcdd0;
$preview_color_two: #dde9ed;
$font_color_title: #e17334;
$font_color_subtitle: #114e4e;
$font_color_primary: #54585a;
$background_link: #438792;

$font_title: 'Merriweather', serif;
$font_main: 'Open Sans', sans-serif;
$font_card: 'Montserrat', sans-serif;

$background_index: white;
$color_title_button: #40ABCA;
$pink: #ff66c4;
$blue: #00c2cb;
$color_blue: #8094C8;
$color_pink: #d87ec6;
$color_neutro: #004E52;